html
    head
        link(rel="stylesheet", href="css/styles.css")
    body
        .container.d-flex.flex-column
            .header.d-flex.flex-column.justify-content-between.align-items-center
                nav.topmenu.d-flex.justify-content-center
                    a(href="#about") About
                    .line.align-self-center
                    a(href="#rules") Rules
                    .line.align-self-center
                    a(href="https://discord.gg/red") Join
                .server-info.d-flex.align-items-center.flex-column.text-center
                    h1 Red - Discord Bot
                    a.links-suppressor.join-btn.btn-pill.white(href="https://discord.gg/red") Join Server
                    
            .inner.d-flex.flex-column
                section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image1(style="flex-grow: 1")
                    .text
                        h2 About
                        p
                            b Red
                            | &nbsp;is a fully modular bot which comes with sets of features/commands that can be enabled/disabled to your liking, making it customizable exactly how you want. You can turn Red into a trivia bot, an admin bot, a music bot (...) or all of these together
                            br
                            br
                            b The default set of modules includes and it's not limited to:
                            br
                        ul
                            li Moderation features (kick/ban/softban, filters, mod-log...)
                            li Trivia (lists included and you can make new ones!)
                            li Music features (playlists, youtube, soundcloud, queues...)
                            li Stream alerts (twitch/hitbox)
                            li Slot machines (yes, really!)
                            li Custom commands
                            li Imgur/gif search
                            li And much much more
                section.discord-widget
                    iframe.d-flex(src="https://discordapp.com/widget?id=279193513806135296&theme=dark",
                        allowtransparency="true",
                        frameborder="0")
                    
                section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
                    .image.image2(style="flex-grow: 1")
                    .text
                        h2 Rules
                        p
                            b Red
                            | &nbsp;is a fully modular bot which comes with sets of features/commands that can be enabled/disabled to your liking, making it customizable exactly how you want. You can turn Red into a trivia bot, an admin bot, a music bot (...) or all of these together
                            br
                            br
                            b The default set of modules includes and it's not limited to:
                            br
                        ul
                            li Moderation features (kick/ban/softban, filters, mod-log...)
                            li Trivia (lists included and you can make new ones!)
                            li Music features (playlists, youtube, soundcloud, queues...)
                            li Stream alerts (twitch/hitbox)
                            li Slot machines (yes, really!)
                            li Custom commands
                            li Imgur/gif search
                            li And much much more
                            
                section.join.d-flex.justify-content-center
                    .line.align-self-center(style="flex-grow: 1")
                    a.links-suppressor.btn-pill.white(href="https://discord.gg/red") Join Server
                    .line.align-self-center(style="flex-grow: 1")
                            
            .footer.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                .d-flex
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Staff
                        span Twentysix26#2152
                        span JennJenn#4953
                        span Will#0234
                        span irdumb#9823
                        span Kowlin#8251
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Moderators
                        span Twentysix26#2152
                        span JennJenn#4953
                        span Will#0234
                        span irdumb#9823
                        span Kowlin#8251
                    
                p.align-self-end Red is a fully modular bot which comes with sets of features/commands that can be enabled/disabled to your liking, making it customizable exactly how you want. You can turn Red into a trivia bot, an admin bot, a music bot (...) or all of these together